<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link home" href="/">Home</a>
                    <a class="link dashboard" href="/dashboard">Dashboard</a>
                    {{#if logged_in}}
                    <a class="link" id="logout">logout</a>
                    {{else}}
                    <a class="link login" href="/login">Login</a>
                    {{/if}}
              </nav>          
          </div>

          <h1 class="app-title"><i class="fab"></i>MVC Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>